.cta {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .adopt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .org-logos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 50px;
    .aspca-logo {
      margin-right: 100px;
    }
  }
}
