@import "../themes/colors.scss";

.page-button {
  margin-top: 80px;
  border-radius: 6px;
  height: 50px;
  width: 150px;
  transition: 0.2s ease-in;
  &:hover {
    transition: 0.2s ease-in;
  }
}

.back-arrow,
.forward-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: transparent;
  border-style: none;
  &:focus {
    outline: 0;
  }
  .icon-left {
    padding-right: 20px;
    font-size: 30px;
  }
  .icon-right {
    padding-left: 20px;
    font-size: 30px;
  }
}

.back-arrow {
  margin-right: 200px;
}
