#nav-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    list-style: none;
    li {
      padding-right: 50px;
      a {
        color: white;
      }
    }
  }
}
