// //Breed background colors
// $background-lab: #fc616f;
// $background-corgi: #ff66eb;
// $background-beagle: #2d9ece;
// $background-shiba: #41c1ac;
// $background-dachshund: #f84a3d;

//Breed background colors
$background-lab: #f09191;
$background-corgi: #f5a9e1;
$background-beagle: #a587ff;
$background-shiba: #6fcabbf0;
$background-dachshund: #ff5555e0;

//Other site styles
$left-col-bg: #2b2b2b;
