@import "./colors.scss";

//Labrador Retriever

.lab {
  background: $background-lab;
}

//Pembroke Welsh Corgi
.corgi {
  background: $background-corgi;
}

//Beagle
.beagle {
  background: $background-beagle;
}

//Shiba Inu
.shiba {
  background: $background-shiba;
}

//Dachshund
.dachshund {
  background: $background-dachshund;
}
