//Breed background colors
$background-lab: #fc616f;
$background-corgi: #ff66eb;
$background-beagle: #2d9ece;
$background-shiba: #41c1ac;
$background-dachshund: #f84a3d;

//Background accent circle styles
$lab-accent: #fd6c78;
$corgi-accent: #ff8eff;
$beagle-accent: #4ea8ce;
$shiba-accent: #73d4c4;
$dachshund-accent: #f56056;

//Image accent circle styles
$lab-circle: #f2b076;
$corgi-circle: #e8f570ef;
$beagle-circle: #f13c3c;
$shiba-circle: #e04c5b;
$dachshund-circle: #c177fd;
