// Small devices
$sm-only: "(max-width: 767.98px)";

// Medium devices (tablets, 768px and up)
$md-only: "(min-width: 768px) and (max-width: 991.98px)";

$md-and-smaller: "(max-width: 991.98px)";
$md-and-larger: "(min-width: 768px)";

// Large devices (desktops, 992px and up)
$lg-only: "(min-width: 992px) and (max-width: 1199.98px)";
$lg-and-smaller: "(max-width: 1199.98px)";
$lg-and-larger: "(min-width: 992px)";

// Extra large devices (large desktops, 1200px and up)
$xl-only: "(min-width: 1200px)";

// IE11
$ie11: "all and (-ms-high-contrast: none), (-ms-high-contrast: active)";